<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:name=".RecipeFoodApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Recipemanager"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".ui.main.ReportingActivity"
            android:exported="false"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="portrait" />

        <!-- Main Activity (Recipes List) -->
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Recipe CRUD -->
        <activity
            android:name=".ui.add.AddRecipeActivity"
            android:exported="false"
            android:label="@string/add_recipe_title"
            android:parentActivityName=".ui.main.MainActivity" />

        <activity
            android:name=".ui.edit.EditRecipeActivity"
            android:exported="false"
            android:label="@string/edit_recipe_title"
            android:parentActivityName=".ui.detail.RecipeDetailActivity" />

        <activity
            android:name=".ui.search.SearchActivity"
            android:exported="false"
            android:label="@string/search_title"
            android:parentActivityName=".ui.main.MainActivity" />

        <activity
            android:name=".ui.detail.RecipeDetailActivity"
            android:exported="false"
            android:parentActivityName=".ui.main.MainActivity" />

        <!-- Food Analysis Flow -->
        <activity
            android:name=".ui.camera.CameraActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.editproducts.EditProductsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.results.ResultsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Dashboard & History -->
        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:exported="false"
            android:label="@string/dashboard_title"
            android:parentActivityName=".ui.main.MainActivity" />

        <activity
            android:name=".ui.history.HistoryActivity"
            android:exported="false" />

        <activity
            android:name=".ui.mealdetail.MealDetailActivity"
            android:exported="false" />

        <!-- Settings -->
        <activity
            android:name=".ui.settings.WelcomeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Recipemanager" />

        <activity
            android:name=".ui.settings.SurveyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Recipemanager" />

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false" />

    </application>

</manifest>